sup {
	top: -0.4em;
	vertical-align: baseline;
	position: relative;
}
sub {
	top: 0.4em;
	vertical-align: baseline;
	position: relative;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.08334em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	left: 0em;
	position: absolute;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"IDJUOS+ºÚÌå";
	src:url("8649ab42-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 4.17em;
	font-family: "IDJUOS+ºÚÌå", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1em;
}
.stl_09 {
	letter-spacing: 0.0027em;
}

.ie .stl_09 {
	letter-spacing: 0.1779px;
}
.stl_10 {
	letter-spacing: 0.0032em;
}

.ie .stl_10 {
	letter-spacing: 0.2135px;
}
@font-face {
	font-family:"WEGWFR+·ÂËÎ";
	src:url("3258bb45-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_11 {
	font-size: 3.5em;
	font-family: "WEGWFR+·ÂËÎ";
	color: #000000;
}
.stl_12 {
	letter-spacing: 0.0033em;
}

.ie .stl_12 {
	letter-spacing: 0.1867px;
}
@font-face {
	font-family:"VCCUSO+·ÂËÎ";
	src:url("a215d915-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 2em;
	font-family: "VCCUSO+·ÂËÎ", "Times New Roman";
	color: #000000;
}
.stl_14 {
	letter-spacing: 0.0044em;
}

.ie .stl_14 {
	letter-spacing: 0.141px;
}
@font-face {
	font-family:"PMDTDC+Calibri";
	src:url("ddbdab6f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.75em;
	font-family: "PMDTDC+Calibri";
	color: #000000;
}
.stl_16 {
	line-height: 1.220703em;
}
.stl_17 {
	letter-spacing: 0em;
}

.ie .stl_17 {
	letter-spacing: 0px;
}
@font-face {
	font-family:"AAQRUQ+ËÎÌå";
	src:url("462c2d09-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_18 {
	font-size: 1em;
	font-family: "AAQRUQ+ËÎÌå", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"QHFEIE+Calibri,Bold";
	src:url("af4075e8-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 1em;
	font-family: "QHFEIE+Calibri,Bold";
	color: #000000;
}
.stl_20 {
	font-size: 0.88em;
	font-family: "WEGWFR+·ÂËÎ";
	color: #000000;
}
.stl_21 {
	font-size: 0.88em;
	font-family: "VCCUSO+·ÂËÎ", "Times New Roman";
	color: #000000;
}
.stl_22 {
	letter-spacing: -0.0023em;
}

.ie .stl_22 {
	letter-spacing: -0.0318px;
}
.stl_23 {
	font-size: 0.88em;
	font-family: "PMDTDC+Calibri";
	color: #000000;
}
.stl_24 {
	letter-spacing: -0.0001em;
}

.ie .stl_24 {
	letter-spacing: -0.0019px;
}
.stl_25 {
	letter-spacing: -0.0024em;
}

.ie .stl_25 {
	letter-spacing: -0.0334px;
}
.stl_26 {
	letter-spacing: -0.002em;
}

.ie .stl_26 {
	letter-spacing: -0.0288px;
}
.stl_27 {
	letter-spacing: -0.0022em;
}

.ie .stl_27 {
	letter-spacing: -0.0317px;
}
.stl_28 {
	letter-spacing: 0.0046em;
}

.ie .stl_28 {
	letter-spacing: 0.0739px;
}
.stl_29 {
	letter-spacing: 0.0053em;
}

.ie .stl_29 {
	letter-spacing: 0.0845px;
}
.stl_30 {
	letter-spacing: 0.0004em;
}

.ie .stl_30 {
	letter-spacing: 0.0062px;
}
.stl_31 {
	letter-spacing: -0.0025em;
}

.ie .stl_31 {
	letter-spacing: -0.0348px;
}
.stl_32 {
	letter-spacing: 0.0036em;
}

.ie .stl_32 {
	letter-spacing: 0.0569px;
}
.stl_33 {
	letter-spacing: -0.0021em;
}

.ie .stl_33 {
	letter-spacing: -0.0298px;
}
.stl_34 {
	letter-spacing: -0.0018em;
}

.ie .stl_34 {
	letter-spacing: -0.0259px;
}
.stl_35 {
	letter-spacing: 0.0037em;
}

.ie .stl_35 {
	letter-spacing: 0.0586px;
}
.stl_36 {
	letter-spacing: 0.0034em;
}

.ie .stl_36 {
	letter-spacing: 0.0539px;
}
.stl_37 {
	font-size: 1.5em;
	font-family: "AAQRUQ+ËÎÌå", "Times New Roman";
	color: #000000;
}
.stl_38 {
	letter-spacing: 0.0067em;
}

.ie .stl_38 {
	letter-spacing: 0.16px;
}
.stl_39 {
	font-size: 1.25em;
	font-family: "WEGWFR+·ÂËÎ";
	color: #000000;
}
.stl_40 {
	font-size: 1.25em;
	font-family: "VCCUSO+·ÂËÎ", "Times New Roman";
	color: #000000;
}
.stl_41 {
	font-size: 1.17em;
	font-family: "VCCUSO+·ÂËÎ", "Times New Roman";
	color: #000000;
}
.stl_42 {
	letter-spacing: -0.0148em;
}

.ie .stl_42 {
	letter-spacing: -0.277px;
}
.stl_43 {
	letter-spacing: -0.0028em;
}

.ie .stl_43 {
	letter-spacing: -0.052px;
}
.stl_44 {
	letter-spacing: -0.0027em;
}

.ie .stl_44 {
	letter-spacing: -0.0502px;
}
.stl_45 {
	font-size: 1.17em;
	font-family: "WEGWFR+·ÂËÎ";
	color: #000000;
}
.stl_46 {
	letter-spacing: 0.0366em;
}

.ie .stl_46 {
	letter-spacing: 0.6857px;
}
.stl_47 {
	font-size: 1em;
	font-family: "VCCUSO+·ÂËÎ", "Times New Roman";
	color: #000000;
}
.stl_48 {
	letter-spacing: -0.0012em;
}

.ie .stl_48 {
	letter-spacing: -0.0221px;
}
.stl_49 {
	letter-spacing: 0.0513em;
}

.ie .stl_49 {
	letter-spacing: 0.96px;
}
.stl_50 {
	letter-spacing: -0.0009em;
}

.ie .stl_50 {
	letter-spacing: -0.016px;
}
.stl_51 {
	letter-spacing: -0.0026em;
}

.ie .stl_51 {
	letter-spacing: -0.0492px;
}
.stl_52 {
	letter-spacing: -0.0015em;
}

.ie .stl_52 {
	letter-spacing: -0.0281px;
}
@font-face {
	font-family:"HMGOKJ+BatangChe";
	src:url("751786e7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_53 {
	font-size: 1.17em;
	font-family: "HMGOKJ+BatangChe", "Times New Roman";
	color: #000000;
}
.stl_54 {
	letter-spacing: -0.0019em;
}

.ie .stl_54 {
	letter-spacing: -0.0361px;
}
.stl_55 {
	letter-spacing: 0.0107em;
}

.ie .stl_55 {
	letter-spacing: 0.1998px;
}
.stl_56 {
	letter-spacing: -0.0029em;
}

.ie .stl_56 {
	letter-spacing: -0.0547px;
}
.stl_57 {
	letter-spacing: 0.014em;
}

.ie .stl_57 {
	letter-spacing: 0.2623px;
}
.stl_58 {
	letter-spacing: 0.0039em;
}

.ie .stl_58 {
	letter-spacing: 0.0787px;
}
.stl_59 {
	letter-spacing: 0.0042em;
}

.ie .stl_59 {
	letter-spacing: 0.084px;
}
@font-face {
	font-family:"SHJDVN+»ªÎÄ¿¬Ìå";
	src:url("d722eeb7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_60 {
	font-size: 1.25em;
	font-family: "SHJDVN+»ªÎÄ¿¬Ìå", "Times New Roman";
	color: #000000;
}
.stl_61 {
	line-height: 1.12em;
}
.stl_62 {
	letter-spacing: 0.0012em;
}

.ie .stl_62 {
	letter-spacing: 0.0233px;
}
.stl_63 {
	letter-spacing: 0.001em;
}

.ie .stl_63 {
	letter-spacing: 0.02px;
}
.stl_64 {
	letter-spacing: 0.0051em;
}

.ie .stl_64 {
	letter-spacing: 0.1013px;
}
.stl_65 {
	letter-spacing: 0.0007em;
}

.ie .stl_65 {
	letter-spacing: 0.014px;
}
.stl_66 {
	letter-spacing: 0.0035em;
}

.ie .stl_66 {
	letter-spacing: 0.07px;
}
.stl_67 {
	letter-spacing: 0.0014em;
}

.ie .stl_67 {
	letter-spacing: 0.028px;
}
.stl_68 {
	letter-spacing: 0.0023em;
}

.ie .stl_68 {
	letter-spacing: 0.036px;
}
.stl_69 {
	letter-spacing: 0.0001em;
}

.ie .stl_69 {
	letter-spacing: 0.0014px;
}
.stl_70 {
	font-size: 1em;
	font-family: "WEGWFR+·ÂËÎ";
	color: #000000;
}
.stl_71 {
	letter-spacing: 0.0045em;
}

.ie .stl_71 {
	letter-spacing: 0.1074px;
}
.stl_72 {
	letter-spacing: -0.0153em;
}

.ie .stl_72 {
	letter-spacing: -0.2863px;
}
.stl_73 {
	letter-spacing: -0.0031em;
}

.ie .stl_73 {
	letter-spacing: -0.059px;
}
.stl_74 {
	letter-spacing: -0.0156em;
}

.ie .stl_74 {
	letter-spacing: -0.293px;
}
.stl_75 {
	letter-spacing: 0.022em;
}

.ie .stl_75 {
	letter-spacing: 0.4124px;
}
.stl_76 {
	letter-spacing: -0.0155em;
}

.ie .stl_76 {
	letter-spacing: -0.2908px;
}
.stl_77 {
	letter-spacing: -0.003em;
}

.ie .stl_77 {
	letter-spacing: -0.0562px;
}
.stl_78 {
	letter-spacing: -0.0035em;
}

.ie .stl_78 {
	letter-spacing: -0.065px;
}
.stl_79 {
	letter-spacing: -0.021em;
}

.ie .stl_79 {
	letter-spacing: -0.3933px;
}
.stl_80 {
	letter-spacing: 0.0169em;
}

.ie .stl_80 {
	letter-spacing: 0.316px;
}
.stl_81 {
	letter-spacing: -0.0032em;
}

.ie .stl_81 {
	letter-spacing: -0.0595px;
}
.stl_82 {
	letter-spacing: -0.0389em;
}

.ie .stl_82 {
	letter-spacing: -0.7282px;
}
.stl_83 {
	letter-spacing: 0.0069em;
}

.ie .stl_83 {
	letter-spacing: 0.1285px;
}
.stl_84 {
	letter-spacing: -0.0033em;
}

.ie .stl_84 {
	letter-spacing: -0.0621px;
}
.stl_85 {
	letter-spacing: 0.007em;
}

.ie .stl_85 {
	letter-spacing: 0.1304px;
}
.stl_86 {
	letter-spacing: -0.0194em;
}

.ie .stl_86 {
	letter-spacing: -0.3624px;
}
.stl_87 {
	letter-spacing: -0.0213em;
}

.ie .stl_87 {
	letter-spacing: -0.3991px;
}
.stl_88 {
	letter-spacing: -0.0034em;
}

.ie .stl_88 {
	letter-spacing: -0.0632px;
}
.stl_89 {
	letter-spacing: -0.0206em;
}

.ie .stl_89 {
	letter-spacing: -0.3854px;
}
.stl_90 {
	letter-spacing: -0.0214em;
}

.ie .stl_90 {
	letter-spacing: -0.3998px;
}
.stl_91 {
	letter-spacing: 0.0052em;
}

.ie .stl_91 {
	letter-spacing: 0.1253px;
}
.stl_92 {
	letter-spacing: -0.0154em;
}

.ie .stl_92 {
	letter-spacing: -0.288px;
}
.stl_93 {
	letter-spacing: -0.0146em;
}

.ie .stl_93 {
	letter-spacing: -0.2731px;
}
.stl_94 {
	letter-spacing: -0.0157em;
}

.ie .stl_94 {
	letter-spacing: -0.2947px;
}
.stl_95 {
	letter-spacing: -0.0003em;
}

.ie .stl_95 {
	letter-spacing: -0.0053px;
}
.stl_96 {
	letter-spacing: 0.0021em;
}

.ie .stl_96 {
	letter-spacing: 0.04px;
}
.stl_97 {
	letter-spacing: 0.0041em;
}

.ie .stl_97 {
	letter-spacing: 0.0759px;
}
.stl_98 {
	letter-spacing: 0.0345em;
}

.ie .stl_98 {
	letter-spacing: 0.6463px;
}
.stl_99 {
	letter-spacing: 0.056em;
}

.ie .stl_99 {
	letter-spacing: 0.896px;
}
.stl_100 {
	letter-spacing: 0.0029em;
}

.ie .stl_100 {
	letter-spacing: 0.0539px;
}
.stl_101 {
	letter-spacing: -0.0002em;
}

.ie .stl_101 {
	letter-spacing: -0.002px;
}
.stl_102 {
	letter-spacing: -0.0056em;
}

.ie .stl_102 {
	letter-spacing: -0.1045px;
}
.stl_103 {
	letter-spacing: -0.0062em;
}

.ie .stl_103 {
	letter-spacing: -0.117px;
}
.stl_104 {
	letter-spacing: -0.0143em;
}

.ie .stl_104 {
	letter-spacing: -0.2672px;
}
.stl_105 {
	letter-spacing: 0.0043em;
}

.ie .stl_105 {
	letter-spacing: 0.0801px;
}
.stl_106 {
	letter-spacing: 0.009em;
}

.ie .stl_106 {
	letter-spacing: 0.1688px;
}
.stl_107 {
	letter-spacing: -0.0151em;
}

.ie .stl_107 {
	letter-spacing: -0.2825px;
}
.stl_108 {
	letter-spacing: 0.0125em;
}

.ie .stl_108 {
	letter-spacing: 0.2334px;
}
.stl_109 {
	letter-spacing: -0.0332em;
}

.ie .stl_109 {
	letter-spacing: -0.6207px;
}
.stl_110 {
	letter-spacing: -0.0474em;
}

.ie .stl_110 {
	letter-spacing: -0.8873px;
}
.stl_111 {
	letter-spacing: 0.1217em;
}

.ie .stl_111 {
	letter-spacing: 2.2773px;
}
.stl_112 {
	letter-spacing: -0.0059em;
}

.ie .stl_112 {
	letter-spacing: -0.1107px;
}
.stl_113 {
	letter-spacing: 0.0826em;
}

.ie .stl_113 {
	letter-spacing: 1.5467px;
}
.stl_114 {
	letter-spacing: 0.0102em;
}

.ie .stl_114 {
	letter-spacing: 0.1915px;
}
.stl_115 {
	letter-spacing: 0.05em;
}

.ie .stl_115 {
	letter-spacing: 0.8px;
}
.stl_116 {
	letter-spacing: 0.0625em;
}

.ie .stl_116 {
	letter-spacing: 1px;
}
.stl_117 {
	letter-spacing: 0.002em;
}

.ie .stl_117 {
	letter-spacing: 0.0367px;
}
.stl_118 {
	letter-spacing: 0.0291em;
}

.ie .stl_118 {
	letter-spacing: 0.5453px;
}
.stl_119 {
	letter-spacing: 0.0222em;
}

.ie .stl_119 {
	letter-spacing: 0.4152px;
}
.stl_120 {
	letter-spacing: 0.0091em;
}

.ie .stl_120 {
	letter-spacing: 0.1703px;
}
.stl_121 {
	letter-spacing: -0.0058em;
}

.ie .stl_121 {
	letter-spacing: -0.109px;
}
.stl_122 {
	letter-spacing: 0.012em;
}

.ie .stl_122 {
	letter-spacing: 0.2255px;
}
.stl_123 {
	letter-spacing: 0.0202em;
}

.ie .stl_123 {
	letter-spacing: 0.3777px;
}
.stl_124 {
	letter-spacing: 0.003em;
}

.ie .stl_124 {
	letter-spacing: 0.0563px;
}
.stl_125 {
	letter-spacing: 0.0018em;
}

.ie .stl_125 {
	letter-spacing: 0.0328px;
}
.stl_126 {
	letter-spacing: -0.006em;
}

.ie .stl_126 {
	letter-spacing: -0.1127px;
}
.stl_127 {
	letter-spacing: -0.0324em;
}

.ie .stl_127 {
	letter-spacing: -0.6071px;
}
.stl_128 {
	letter-spacing: 0.0213em;
}

.ie .stl_128 {
	letter-spacing: 0.3995px;
}
.stl_129 {
	letter-spacing: 0.0328em;
}

.ie .stl_129 {
	letter-spacing: 0.6149px;
}
.stl_130 {
	letter-spacing: 0.006em;
}

.ie .stl_130 {
	letter-spacing: 0.1119px;
}
.stl_131 {
	letter-spacing: 0.0341em;
}

.ie .stl_131 {
	letter-spacing: 0.6375px;
}
.stl_132 {
	letter-spacing: 0.0187em;
}

.ie .stl_132 {
	letter-spacing: 0.3495px;
}
.stl_133 {
	letter-spacing: -0.0152em;
}

.ie .stl_133 {
	letter-spacing: -0.2852px;
}
.stl_134 {
	letter-spacing: -0.0271em;
}

.ie .stl_134 {
	letter-spacing: -0.4343px;
}
.stl_135 {
	letter-spacing: 0.0072em;
}

.ie .stl_135 {
	letter-spacing: 0.1339px;
}
.stl_136 {
	letter-spacing: -0.0011em;
}

.ie .stl_136 {
	letter-spacing: -0.0197px;
}
.stl_137 {
	letter-spacing: 0.0011em;
}

.ie .stl_137 {
	letter-spacing: 0.02px;
}
.stl_138 {
	letter-spacing: -0.0141em;
}

.ie .stl_138 {
	letter-spacing: -0.2633px;
}
.stl_139 {
	letter-spacing: -0.0013em;
}

.ie .stl_139 {
	letter-spacing: -0.0236px;
}
.stl_140 {
	letter-spacing: -0.0335em;
}

.ie .stl_140 {
	letter-spacing: -0.6272px;
}
.stl_141 {
	letter-spacing: -0.0142em;
}

.ie .stl_141 {
	letter-spacing: -0.2666px;
}
.stl_142 {
	letter-spacing: 0.0338em;
}

.ie .stl_142 {
	letter-spacing: 0.6335px;
}
.stl_143 {
	letter-spacing: 0.0205em;
}

.ie .stl_143 {
	letter-spacing: 0.3838px;
}
.stl_144 {
	letter-spacing: 0.011em;
}

.ie .stl_144 {
	letter-spacing: 0.2054px;
}
@font-face {
	font-family:"PVOPWB+·ÂËÎ_GB2312";
	src:url("b5accf59-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_145 {
	font-size: 1.17em;
	font-family: "PVOPWB+·ÂËÎ_GB2312", "Times New Roman";
	color: #000000;
}
.stl_146 {
	letter-spacing: 0.0158em;
}

.ie .stl_146 {
	letter-spacing: 0.2965px;
}
.stl_147 {
	letter-spacing: 0.0002em;
}

.ie .stl_147 {
	letter-spacing: 0.003px;
}
.stl_148 {
	letter-spacing: 0.0003em;
}

.ie .stl_148 {
	letter-spacing: 0.0053px;
}
.stl_149 {
	letter-spacing: 0.0074em;
}

.ie .stl_149 {
	letter-spacing: 0.1388px;
}
.stl_150 {
	letter-spacing: 0.0031em;
}

.ie .stl_150 {
	letter-spacing: 0.0586px;
}
.stl_151 {
	letter-spacing: 0.0048em;
}

.ie .stl_151 {
	letter-spacing: 0.1156px;
}
.stl_152 {
	letter-spacing: -0.0159em;
}

.ie .stl_152 {
	letter-spacing: -0.2981px;
}
.stl_153 {
	letter-spacing: -0.0144em;
}

.ie .stl_153 {
	letter-spacing: -0.2694px;
}
.stl_154 {
	letter-spacing: -0.0139em;
}

.ie .stl_154 {
	letter-spacing: -0.2601px;
}
.stl_155 {
	letter-spacing: -0.016em;
}

.ie .stl_155 {
	letter-spacing: -0.3004px;
}
.stl_156 {
	letter-spacing: -0.0303em;
}

.ie .stl_156 {
	letter-spacing: -0.5672px;
}
.stl_157 {
	letter-spacing: -0.0325em;
}

.ie .stl_157 {
	letter-spacing: -0.6084px;
}
.stl_158 {
	letter-spacing: -0.03em;
}

.ie .stl_158 {
	letter-spacing: -0.562px;
}
.stl_159 {
	letter-spacing: 0.0148em;
}

.ie .stl_159 {
	letter-spacing: 0.2762px;
}
.stl_160 {
	letter-spacing: -0.0047em;
}

.ie .stl_160 {
	letter-spacing: -0.075px;
}
.stl_161 {
	letter-spacing: 0.0097em;
}

.ie .stl_161 {
	letter-spacing: 0.1545px;
}
.stl_162 {
	letter-spacing: -0.0126em;
}

.ie .stl_162 {
	letter-spacing: -0.2013px;
}
.stl_163 {
	letter-spacing: -0.0048em;
}

.ie .stl_163 {
	letter-spacing: -0.0774px;
}
.stl_164 {
	letter-spacing: -0.0044em;
}

.ie .stl_164 {
	letter-spacing: -0.07px;
}
.stl_165 {
	letter-spacing: 0.01em;
}

.ie .stl_165 {
	letter-spacing: 0.1595px;
}
.stl_166 {
	letter-spacing: 0.0081em;
}

.ie .stl_166 {
	letter-spacing: 0.1508px;
}
.stl_167 {
	letter-spacing: 0.0082em;
}

.ie .stl_167 {
	letter-spacing: 0.1544px;
}
.stl_168 {
	letter-spacing: -0.0339em;
}

.ie .stl_168 {
	letter-spacing: -0.6339px;
}
.stl_169 {
	letter-spacing: -0.0529em;
}

.ie .stl_169 {
	letter-spacing: -0.9907px;
}
.stl_170 {
	letter-spacing: -0.014em;
}

.ie .stl_170 {
	letter-spacing: -0.2621px;
}
.stl_171 {
	letter-spacing: 0.25em;
}

.ie .stl_171 {
	letter-spacing: 4px;
}
.stl_172 {
	letter-spacing: 0.0192em;
}

.ie .stl_172 {
	letter-spacing: 0.3077px;
}
.stl_173 {
	letter-spacing: 0.0103em;
}

.ie .stl_173 {
	letter-spacing: 0.1648px;
}
.stl_174 {
	letter-spacing: 0.0161em;
}

.ie .stl_174 {
	letter-spacing: 0.2581px;
}
.stl_175 {
	letter-spacing: 0.0026em;
}

.ie .stl_175 {
	letter-spacing: 0.0418px;
}
.stl_176 {
	letter-spacing: 0.0313em;
}

.ie .stl_176 {
	letter-spacing: 0.5px;
}
.stl_177 {
	letter-spacing: 0.0227em;
}

.ie .stl_177 {
	letter-spacing: 0.3636px;
}
.stl_178 {
	letter-spacing: 0.0278em;
}

.ie .stl_178 {
	letter-spacing: 0.4444px;
}
.stl_179 {
	letter-spacing: 0.0093em;
}

.ie .stl_179 {
	letter-spacing: 0.1481px;
}
.stl_180 {
	letter-spacing: -0.0125em;
}

.ie .stl_180 {
	letter-spacing: -0.2px;
}
.stl_181 {
	font-size: 0.75em;
	font-family: "WEGWFR+·ÂËÎ";
	color: #000000;
}
.stl_182 {
	letter-spacing: 0.1203em;
}

.ie .stl_182 {
	letter-spacing: 1.444px;
}
.stl_183 {
	font-size: 0.75em;
	font-family: "VCCUSO+·ÂËÎ", "Times New Roman";
	color: #000000;
}
.stl_184 {
	letter-spacing: 0.2333em;
}

.ie .stl_184 {
	letter-spacing: 2.8px;
}
.stl_185 {
	letter-spacing: 0.0186em;
}

.ie .stl_185 {
	letter-spacing: 0.3475px;
}
.stl_186 {
	letter-spacing: 0.0233em;
}

.ie .stl_186 {
	letter-spacing: 0.4366px;
}
.stl_187 {
	letter-spacing: 0.0381em;
}

.ie .stl_187 {
	letter-spacing: 0.7133px;
}
.stl_188 {
	letter-spacing: -0.0057em;
}

.ie .stl_188 {
	letter-spacing: -0.1074px;
}
.stl_189 {
	letter-spacing: -0.0036em;
}

.ie .stl_189 {
	letter-spacing: -0.0674px;
}
.stl_190 {
	letter-spacing: 0.125em;
}

.ie .stl_190 {
	letter-spacing: 2px;
}
.stl_191 {
	letter-spacing: 0.018em;
}

.ie .stl_191 {
	letter-spacing: 0.3374px;
}
.stl_192 {
	letter-spacing: 0.0731em;
}

.ie .stl_192 {
	letter-spacing: 1.368px;
}
.stl_193 {
	letter-spacing: -0.0138em;
}

.ie .stl_193 {
	letter-spacing: -0.2581px;
}
.stl_194 {
	letter-spacing: 0.0609em;
}

.ie .stl_194 {
	letter-spacing: 1.14px;
}
.stl_195 {
	letter-spacing: -0.015em;
}

.ie .stl_195 {
	letter-spacing: -0.2805px;
}
.stl_196 {
	letter-spacing: 0.0078em;
}

.ie .stl_196 {
	letter-spacing: 0.1468px;
}
.stl_197 {
	letter-spacing: 0.0059em;
}

.ie .stl_197 {
	letter-spacing: 0.11px;
}
.stl_198 {
	letter-spacing: 0.0611em;
}

.ie .stl_198 {
	letter-spacing: 0.977px;
}
.stl_199 {
	letter-spacing: -0.0007em;
}

.ie .stl_199 {
	letter-spacing: -0.0133px;
}
.stl_200 {
	letter-spacing: -0.0162em;
}

.ie .stl_200 {
	letter-spacing: -0.3033px;
}
.stl_201 {
	letter-spacing: -0.667em;
}

.ie .stl_201 {
	letter-spacing: -12.4862px;
}
.stl_202 {
	letter-spacing: -0.0309em;
}

.ie .stl_202 {
	letter-spacing: -0.5791px;
}
.stl_203 {
	letter-spacing: 0.008em;
}

.ie .stl_203 {
	letter-spacing: 0.1496px;
}
.stl_204 {
	letter-spacing: 0.0304em;
}

.ie .stl_204 {
	letter-spacing: 0.569px;
}
.stl_205 {
	letter-spacing: 0.0117em;
}

.ie .stl_205 {
	letter-spacing: 0.2184px;
}
.stl_206 {
	letter-spacing: -0.0338em;
}

.ie .stl_206 {
	letter-spacing: -0.6331px;
}
.stl_207 {
	letter-spacing: 0.0314em;
}

.ie .stl_207 {
	letter-spacing: 0.5025px;
}
.stl_208 {
	letter-spacing: -0.0054em;
}

.ie .stl_208 {
	letter-spacing: -0.1018px;
}
.stl_209 {
	letter-spacing: -0.0145em;
}

.ie .stl_209 {
	letter-spacing: -0.2719px;
}
.stl_210 {
	letter-spacing: 0.042em;
}

.ie .stl_210 {
	letter-spacing: 0.786px;
}
.stl_211 {
	letter-spacing: 0.0324em;
}

.ie .stl_211 {
	letter-spacing: 0.6057px;
}
.stl_212 {
	letter-spacing: 0.09em;
}

.ie .stl_212 {
	letter-spacing: 1.44px;
}
.stl_213 {
	letter-spacing: -0.0346em;
}

.ie .stl_213 {
	letter-spacing: -0.648px;
}
.stl_214 {
	letter-spacing: -0.0127em;
}

.ie .stl_214 {
	letter-spacing: -0.2376px;
}
.stl_215 {
	letter-spacing: 0.024em;
}

.ie .stl_215 {
	letter-spacing: 0.45px;
}
.stl_216 {
	letter-spacing: -0.0207em;
}

.ie .stl_216 {
	letter-spacing: -0.3876px;
}
.stl_217 {
	letter-spacing: 0.0356em;
}

.ie .stl_217 {
	letter-spacing: 0.6669px;
}
.stl_218 {
	letter-spacing: -0.0147em;
}

.ie .stl_218 {
	letter-spacing: -0.2761px;
}
.stl_219 {
	letter-spacing: -0.0117em;
}

.ie .stl_219 {
	letter-spacing: -0.2198px;
}
.stl_220 {
	letter-spacing: -0.0016em;
}

.ie .stl_220 {
	letter-spacing: -0.03px;
}
.stl_221 {
	letter-spacing: -0.0017em;
}

.ie .stl_221 {
	letter-spacing: -0.0318px;
}
.stl_222 {
	letter-spacing: 0.03em;
}

.ie .stl_222 {
	letter-spacing: 0.48px;
}
.stl_223 {
	letter-spacing: -0.5em;
}

.ie .stl_223 {
	letter-spacing: -8px;
}
.stl_224 {
	letter-spacing: 0.0025em;
}

.ie .stl_224 {
	letter-spacing: 0.04px;
}
.stl_225 {
	letter-spacing: -0.0225em;
}

.ie .stl_225 {
	letter-spacing: -0.4217px;
}
.stl_226 {
	letter-spacing: -0.0573em;
}

.ie .stl_226 {
	letter-spacing: -1.0733px;
}
.stl_227 {
	letter-spacing: -0.0305em;
}

.ie .stl_227 {
	letter-spacing: -0.571px;
}
.stl_228 {
	letter-spacing: 0.0194em;
}

.ie .stl_228 {
	letter-spacing: 0.3625px;
}
.stl_229 {
	letter-spacing: -0.0302em;
}

.ie .stl_229 {
	letter-spacing: -0.5653px;
}
.stl_230 {
	letter-spacing: -0.0622em;
}

.ie .stl_230 {
	letter-spacing: -1.1637px;
}
@font-face {
	font-family:"GFHMOQ+Cambria Math";
	src:url("33c0da44-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_231 {
	font-size: 1em;
	font-family: "GFHMOQ+Cambria Math", "Times New Roman";
	color: #000000;
}
.stl_232 {
	line-height: 1.172363em;
}
.stl_233 {
	letter-spacing: 0.004em;
}

.ie .stl_233 {
	letter-spacing: 0.0747px;
}
.stl_234 {
	letter-spacing: 0.0119em;
}

.ie .stl_234 {
	letter-spacing: 0.2235px;
}
@font-face {
	font-family:"LBTTGP+Times New Roman";
	src:url("5238449a-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_235 {
	font-size: 1.17em;
	font-family: "LBTTGP+Times New Roman", "Times New Roman";
	color: #000000;
}
.stl_236 {
	line-height: 1.107422em;
}
.stl_237 {
	letter-spacing: 0.0221em;
}

.ie .stl_237 {
	letter-spacing: 0.4138px;
}
.stl_238 {
	letter-spacing: 0.0083em;
}

.ie .stl_238 {
	letter-spacing: 0.1547px;
}
.stl_239 {
	letter-spacing: -0.0306em;
}

.ie .stl_239 {
	letter-spacing: -0.5728px;
}
.stl_240 {
	letter-spacing: 0.0038em;
}

.ie .stl_240 {
	letter-spacing: 0.0714px;
}
.stl_241 {
	letter-spacing: -0.0161em;
}

.ie .stl_241 {
	letter-spacing: -0.3012px;
}
.stl_242 {
	letter-spacing: 0.021em;
}

.ie .stl_242 {
	letter-spacing: 0.3924px;
}
.stl_243 {
	letter-spacing: -0.017em;
}

.ie .stl_243 {
	letter-spacing: -0.319px;
}
.stl_244 {
	letter-spacing: 0.0399em;
}

.ie .stl_244 {
	letter-spacing: 0.7467px;
}
.stl_245 {
	letter-spacing: 0.0123em;
}

.ie .stl_245 {
	letter-spacing: 0.2299px;
}
.stl_246 {
	letter-spacing: -0.0037em;
}

.ie .stl_246 {
	letter-spacing: -0.0516px;
}
.stl_247 {
	letter-spacing: -0.0046em;
}

.ie .stl_247 {
	letter-spacing: -0.0648px;
}
.stl_248 {
	letter-spacing: -0.0483em;
}

.ie .stl_248 {
	letter-spacing: -0.7733px;
}
.stl_249 {
	letter-spacing: -0.0005em;
}

.ie .stl_249 {
	letter-spacing: -0.0089px;
}
.stl_250 {
	letter-spacing: 0.0079em;
}

.ie .stl_250 {
	letter-spacing: 0.1485px;
}
.stl_251 {
	letter-spacing: -0.0052em;
}

.ie .stl_251 {
	letter-spacing: -0.0965px;
}
.stl_252 {
	letter-spacing: -0.019em;
}

.ie .stl_252 {
	letter-spacing: -0.3562px;
}
.stl_253 {
	letter-spacing: 0.0214em;
}

.ie .stl_253 {
	letter-spacing: 0.401px;
}
.stl_254 {
	letter-spacing: -0.02em;
}

.ie .stl_254 {
	letter-spacing: -0.3746px;
}
.stl_255 {
	letter-spacing: 0.0715em;
}

.ie .stl_255 {
	letter-spacing: 1.144px;
}
.stl_256 {
	letter-spacing: -0.0014em;
}

.ie .stl_256 {
	letter-spacing: -0.0267px;
}
.stl_257 {
	letter-spacing: -0.0094em;
}

.ie .stl_257 {
	letter-spacing: -0.15px;
}
.stl_258 {
	letter-spacing: 0.0417em;
}

.ie .stl_258 {
	letter-spacing: 0.6667px;
}
.stl_259 {
	letter-spacing: -0.001em;
}

.ie .stl_259 {
	letter-spacing: -0.0194px;
}
.stl_260 {
	letter-spacing: 0.0144em;
}

.ie .stl_260 {
	letter-spacing: 0.2703px;
}
.stl_261 {
	letter-spacing: -0.0133em;
}

.ie .stl_261 {
	letter-spacing: -0.2485px;
}
.stl_262 {
	letter-spacing: 0.0282em;
}

.ie .stl_262 {
	letter-spacing: 0.5279px;
}
.stl_263 {
	letter-spacing: 0.0088em;
}

.ie .stl_263 {
	letter-spacing: 0.1648px;
}
.stl_264 {
	letter-spacing: 0.0455em;
}

.ie .stl_264 {
	letter-spacing: 0.851px;
}
.stl_265 {
	letter-spacing: 0.0226em;
}

.ie .stl_265 {
	letter-spacing: 0.4232px;
}
@font-face {
	font-family:"PSFDBL+Wingdings";
	src:url("29784850-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_266 {
	font-size: 1.17em;
	font-family: "PSFDBL+Wingdings", "Times New Roman";
	color: #000000;
}
.stl_267 {
	line-height: 1.109863em;
}
.stl_268 {
	letter-spacing: 0.0237em;
}

.ie .stl_268 {
	letter-spacing: 0.444px;
}
.stl_269 {
	letter-spacing: 0.0184em;
}

.ie .stl_269 {
	letter-spacing: 0.3439px;
}
.stl_270 {
	letter-spacing: -0.0179em;
}

.ie .stl_270 {
	letter-spacing: -0.3356px;
}
.stl_271 {
	letter-spacing: -0.0319em;
}

.ie .stl_271 {
	letter-spacing: -0.5965px;
}
.stl_272 {
	letter-spacing: 0.0973em;
}

.ie .stl_272 {
	letter-spacing: 1.8208px;
}
